:root {
    --background-color: #F4F1FF;
    --primary-color: #6C4AB6;
    --button-color: #675F98;

    --text-color-primary: #432C7A;
    --text-color-secondary: rgba(100, 92, 187, 0.5);
    --text-color-black: #292D32;

    --warning-color: #FFB84C;
    --success-color: #0FCC8C;
    --danger-color: #F33939;

    --transition: all 400ms ease;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
}

img {
    width: 65px;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100vh;
    height: 100vh;
}

.sidebar {
    position: absolute;
    width: 300px;
    height: 100%;
    grid-row: 1 / span 2;
    padding: 1rem 2rem;
    z-index: 9998;
    background-color: #fff;
}

/* SIDE-NAV STYLE */

.sidebar-logo {
    margin-bottom: 5rem;
}

.active-sidebar-list__item-button {
    display: flex;
    align-items: center;
    padding: 16px;
    margin-top: 24px;
    gap: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar-list__item-button {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.sidebar-list__item-button:hover {
    transition: var(--transition);
    background-color: var(--background-color);
}

/* END SIDE-NAV STYLE */

/* MAIN STYLE */

main {
    grid-column: 2;
    padding: 1rem 2rem;
    overflow-y: auto;
    background-color: var(--background-color);
}

header {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.menu-icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.header-right {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header-right p {
    text-align: right;
    font-weight: 600;
}

.header-right p:first-child {
    color: var(--text-color-primary);
}

.header-right p:last-child {
    color: var(--danger-color);
    font-size: 12px;
    cursor: pointer;
}

.header-right i {
    color: var(--text-color-primary);
    font-size: 25px;
}


main .fa-solid {
    color: var(--text-color-primary);
}

.main-title {
    margin: 1rem 0 3rem 0;
    color: var(--text-color-primary);
    line-height: 33.6px;
}

.article__headline {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    border-radius: 20px;
    padding: 24px;
    gap: 24px;
    color: var(--text-color-primary);
    background-color: #fff;
}

.article__headline-image {
    width: 100%;
    border-radius: 10px;
    height: 350px;
}

.article__headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.article__headline-content h1 {
    font-weight: 800;
    font-size: 36px;
    line-height: 140.5%;
}

.article__headline-content h3  {
    font-size: 18px;
    color: var(--button-color);
    width: 80%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article__button-head {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 16px 24px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 1%;
    gap: 8px;
    color: #fff;
    background-color: var(--warning-color);
}

.article__button-head i {
    color: #fff;
}

.article__list {
    margin-top: 36px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.article__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18px;
    background-color: #fff;
    border-radius: 18px;
    padding: 16px 24px;
}

.article__item h1{
    color: var(--text-color-primary);
    font-size: 20px;
    font-weight: 800;
    line-height: 28.1px;
    margin-bottom: 14px;
}

.article__item h3 {
    color: var(--button-color);
    font-size: 13px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.article__item img {
    width: 100%;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
}

.article__item-text {
    width: 90%;
}

.article__item-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1%;
    color: #fff;
    background-color: var(--warning-color);
    padding: 16px;
    border-radius: 50px;
}

.article__item-button i{
    color: #fff;
}

@media (max-width: 1024px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        visibility: hidden;
    }

    .sidebar.active {
        visibility: visible;
    }

    .menu-icon {
        visibility: visible;
    }

    .main-grid {
        height: 70vh;
    }

    .main.active {
        filter: brightness(50%);
    }
}

@media (max-width: 768px) {
    .article__headline-content h1 {
        font-size: 24px;
    }



    .article__headline-image {
        width: 100%;
        height: 100%;
    }

    .article__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 425px) {
    .main-title h3{
        font-size: 16px;
    }

    .article__headline {
        display: block;
    }

    .article__headline-content h1 {
        font-size: 20px;
        margin: 16px 0;
    }

    .article__headline-content h3 {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .article__headline-content {
        display: block;
    }

    .article__item {
        border-radius: 12px;
        padding: 16px;
    }

    .article__item img {
        border-radius: 6px;
    }

    .article__item h1 {
        font-size: 8px;
        line-height: normal;
        margin-bottom: 10px;
    }

    .article__item h3 {
        font-size: 6px;
    }

    .article__item-button {
        font-size: 8px;
        padding: 10px;
    }

}

@media (max-width: 375px) {
    .main-title h1 {
        font-size: 24px;
    }

    .main-title h3 {
        font-size: 14px;
        margin-top: 8px;
        line-height: normal;
    }

}
